<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card shadow-sm">
        <h5 class="card-header" style="background-color: #D7F4F5;">Review Control Requirements: TS2 180-day Charge Off Monitoring</h5>
        <div class="card-body">
          <h6>Description:</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="row">
            <div class="col">
              <h6>Accountable Executive:</h6>
              <p>John Standard</p>
              <h6>Accountable Executive Designee:</h6>
              <p>Sarah Valentine</p>
              <h6>Control Owner:</h6>
              <p>Jay Watts</p>
              <h6>Compliance Advisor:</h6>
              <p>Nigel McRichie</p>
            </div>
            <div class="col">
              <h6>Domains:</h6>
              <ul>
                <li>US Branded Card</li>
                <li>US Card Cobrand</li>
                <li>US Small Business Card</li>
              </ul>
              <h6>Executed by:</h6>
              <p>First Line</p>
              <h6>ID Number:</h6>
              <p>CTRL-020230515</p>
            </div>
          </div>

          <div class="row">

            <div class="col">
              <h6>Control Requirements:</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Sed do eiusmod tempor incididunt</li>
              </ul>
            </div>

          </div>

          <div class="row">

            <div class="col">
              <p style="text-align: center;"> Step 1 of 4: Review Control Requirements</p>

              <div class="progress">
                <div class="progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>

            </div>

          </div>

          <br>
          <div class="btn-group">
            <a role="button" href="/" class="btn btn-sm btn-outline-secondary">Exit</a>
            <a role="button" href="MyMonitoring2" class="btn btn-sm btn-outline-secondary">Next</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
