<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card shadow-sm">
        <h5 class="card-header" style="background-color: #D7F4F5;">Input Control Testing Results: TS2 180-day Charge Off Monitoring</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">

              <label for="lob">Line of Business:</label>
              <select class="form-control" name="lob">
                <option></option>
                <option>All</option>
                <option>Mainstreet</option>
                <option>Small Business</option>
              </select>

              <br>
              <label for="type">Monitoring Type:</label>
              <select class="form-control" name="type">
                <option></option>
                <option>Audit</option>
                <option>Design Effectiveness</option>
                <option>Operational Effectiveness</option>
              </select>

              <br>
              <label for="type">Rating:</label>
              <select class="form-control" name="type">
                <option></option>
                <option>Effective</option>
                <option>Needs Strengthing</option>
                <option>Failures</option>
              </select>

            </div>

            <div class="col">
              <h6>Domains:</h6>
              <ul>
                <li>US Branded Card</li>
                <li>US Card Cobrand</li>
                <li>US Small Business Card</li>
              </ul>
              <h6>Performed by:</h6>
              <p>David H.</p>
              <h6>ID Number:</h6>
              <p>CTRL-020230515</p>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">

              <label for="textdemo">Detailed Findings:</label>
              <textarea type="text" class="form-control" name="textdemo" rows="4" placeholder="255 Character limit"></textarea>

            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">

              <label for="textdemo">Comments:</label>
              <textarea type="text" class="form-control" name="textdemo" rows="4" placeholder="255 Character limit"></textarea>

            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <p style="text-align: center;"> Step 2 of 4: Input Control Testing Results</p>
              <div class="progress">
                <div class="progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <br>
          <div class="btn-group">
            <a role="button" href="MyMonitoring" class="btn btn-sm btn-outline-secondary">Previous</a>
            <a role="button" href="/" class="btn btn-sm btn-outline-secondary">Save & Exit</a>
            <a role="button" href="MyMonitoring3" class="btn btn-sm btn-outline-secondary">   Next   </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
