<div class="container-fluid">
  <div class="card-columns">

    <div class="card shadow-sm">
      <h5 class="card-header" style="background-color: coral;">Control: Credit Bureau Reporting Issues</h5>
      <div class="card-body">
        <h6 style="color:coral;"><i data-feather="alert-triangle" style="color:#coral;"></i>  Anomalies exceed threshold </h6>
        <p class="card-text mb-auto">Monthly monitoring of volume of accounts that were reported to the credit bureaus incorrectly</p>
        <canvas class="my-4 w-100" id="myChart" width="450" height="250"></canvas>
        <div class="btn-group">
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">View</a>
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">Update Results</a>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago by Wendy K.</small>
      </div>
    </div>

    <div class="card shadow-sm">
      <h5 class="card-header" style="background-color: #D7F4F5;">Control: TS2 180-day Charge Off Monitoring</h5>
      <div class="card-body">
        <h6><i data-feather="watch"></i>  Control testing due in 12 days</h6>
        <p class="card-text mb-auto"> Card resiliency performs daily 100% review to ensure complaince with URCCAM</p>
        <br>
        <div class="btn-group">
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">View</a>
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">Perform Control Testing</a>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 45 days ago by you</small>
      </div>
    </div>


    <div class="card shadow-sm">
      <h5 class="card-header" style="background-color: #D7F4F5;">Control: US Card Electronic Payment Processing</h5>
      <div class="card-body">
        <h6><i data-feather="award"></i>  Accountable Executive Approved</h6>
        <p class="card-text mb-auto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <br>
        <div class="btn-group">
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">View</a>
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">Update Control</a>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 days ago by Kara W.</small>
      </div>
    </div>

    <div class="card shadow-sm">
      <h5 class="card-header" style="background-color: #D7F4F5;">Control: Ut Enim Ad Minim Veniam</h5>
      <div class="card-body">
        <h6><i data-feather="check"></i>  No Action required</h6>
        <p class="card-text mb-auto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <br>
        <div class="btn-group">
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">View</a>
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">Update Control</a>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 days ago by Matt B.</small>
      </div>
    </div>


    <div class="card shadow-sm">
      <h5 class="card-header" style="background-color: #D7F4F5;">Control: Accusantium Doloremque LSaudantium</h5>
      <div class="card-body">
        <h6><i data-feather="check"></i>  No Action required</h6>
        <p class="card-text mb-auto">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
        <br>
        <div class="btn-group">
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">View</a>
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">Update Control</a>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 days ago by Matt B.</small>
      </div>
    </div>


    <div class="card shadow-sm">
      <h5 class="card-header" style="background-color: #D7F4F5;">Control: Quis Autem Vel Eum Iure Reprehenderit</h5>
      <div class="card-body">
        <h6><i data-feather="check"></i>  No Action required</h6>
        <p class="card-text mb-auto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <br>
        <div class="btn-group">
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">View</a>
          <a role="button" href="#" class="btn btn-sm btn-outline-secondary">Update Control</a>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 days ago by Matt B.</small>
      </div>
    </div>
  </div>
</div>
