
html {
    height:100%;
}

/* Margin for navbar */
body {
  margin-top:  70px;
  background-image: url("src\assets\images\background.jpg"); /* The image used */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
