<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card shadow-sm">
        <h5 class="card-header" style="background-color: #D7F4F5;">Upload Supporting Documentation: TS2 180-day Charge Off Monitoring</h5>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h6>Supported File Types:</h6>
              <ul>
                <li>PDF</li>
                <li>PowerPoint</li>
                <li>Excel</li>
                <li>Word</li>
              </ul>


              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
              </div>

            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">

              <label for="textdemo">Comments:</label>
              <textarea type="text" class="form-control" name="textdemo" rows="4" placeholder="255 Character limit"></textarea>

            </div>
          </div>

          <br>

          <div class="row">
            <div class="col">
              <p style="text-align: center;"> Step 3 of 4: Upload Supporting Documentation</p>
              <div class="progress">
                <div class="progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: 75%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <br>
          <div class="btn-group">
            <a role="button" href="MyMonitoring2" class="btn btn-sm btn-outline-secondary">Previous</a>
            <a role="button" href="/" class="btn btn-sm btn-outline-secondary">Save & Exit</a>
            <a role="button" href="MyMonitoring4" class="btn btn-sm btn-outline-secondary">   Next   </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
